@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230,230, 230;
  --background-end-rgb: 230, 230, 230;
}

 h1 , p{
  font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}

li{
  margin: auto 2rem;
}

li:hover{
  cursor: pointer;
  color: rgb(108, 103, 103);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 230,230, 230;
    --background-end-rgb: 230, 230, 230;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}
